@use "./../../../../public/colors.scss";



// Título
.title {
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: colors.$primary-color;

    // .dark-mode & {
    //   color: colors.$dark-primary-color;
    // }
  }
}

// Formulario
form {
  margin-top: 10px;
  background-color: colors.$secondary-color;
  padding: 20px;
  border-radius: colors.$border-radius;
  box-shadow: colors.$box-shadow-light;
  width: 80%;
  min-width: 250px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  // .dark-mode & {
  //   background-color: colors.$dark-secondary-color;
  //   box-shadow: colors.$box-shadow-dark;
  // }

  // Campos del formulario
  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .column {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    @media (min-width: 768px) {
      flex-direction: row;

      .column {
        flex: 1;
      }
    }

    .text-field {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
      }

      input,
      select {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: colors.$border-radius;
        font-size: 1rem;

        &:focus {
          outline: none;
          border-color: colors.$primary-color;
          box-shadow: 0 0 5px colors.$primary-color;
        }

        // .dark-mode & {
        //   background-color: colors.$dark-secondary-color;
        //   border-color: colors.$dark-text-color;
        //   color: colors.$dark-text-color;

        //   &:focus {
        //     border-color: colors.$dark-primary-color;
        //     box-shadow: 0 0 5px colors.$dark-primary-color;
        //   }
        // }
      }
    }
  }

  // Botón principal
  .important-button {
    background-color: colors.$primary-color;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: colors.$border-radius;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten(colors.$primary-color, 10%);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    // .dark-mode & {
    //   background-color: colors.$dark-primary-color;
    //   color: colors.$dark-background-color;

    //   &:hover {
    //     background-color: lighten(colors.$dark-primary-color, 10%);
    //   }
    // }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

// Acciones adicionales
div {
  text-align: center;

  span {
    font-size: 0.9rem;
    color: colors.$text-color;

    // .dark-mode & {
    //   color: colors.$dark-text-color;
    // }
  }

  a {
    color: colors.$primary-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    // .dark-mode & {
    //   color: colors.$dark-primary-color;
    // }
  }
}

// Responsivo
@media (min-width: 768px) {
  form {
    max-width: 500px;

    padding: 30px;
  }
}
