<h1 id="title">Converter</h1>
<form
  #ConverterForm="ngForm"
  (ngSubmit)="Result(ConverterForm)"
  id="converter-container"
>
  <div id="input-container">
    <div id="amount-container">
      <div class="text-field">
        <label for="amount">Amount</label>
        <input
          type="text"
          (input)="validateInput($event)"
          placeholder="500"
          name="amount"
          required
          ngModel
        />
      </div>
    </div>
    <div id="from-container">
      <div class="text-field">
        <label for="from">From</label>
        <select name="from" required ngModel>
          @for (currency of currencyService.currencies; track $index) {
          <option>{{ CurrencyName(currency) }}</option>
          }
        </select>
      </div>
    </div>
    <div id="to-container">
      <div class="text-field">
        <label for="to">To</label>
        <select name="to" required ngModel>
          @for (currency of currencyService.currencies; track $index) {
          <option>{{ CurrencyName(currency) }}</option>
          }
        </select>
      </div>
    </div>
  </div>
  <button
    [disabled]="ConverterForm.invalid"
    type="submit"
    class="important-button"
  >
    Convert
  </button>
</form>
