@use "./../../../../public/colors.scss";

// Título
#title {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: colors.$primary-color;

  // .dark-mode & {
  //   color: colors.$dark-primary-color;
  // }
}

// Contenedor principal del formulario
#form-container {
  margin-top: 20px;
  width: 90%;
  min-width: 280px;
  max-width: 350px;
  background-color: colors.$secondary-color;

  border-radius: colors.$border-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  

  flex-direction: column;
  gap: 20px;

  // .dark-mode & {
  //   background-color: colors.$dark-secondary-color;
  //   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  // }
}

// Contenedor de entradas
#input-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  
}

// Campo de texto y selects
.field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
label {
  font-size: 0.9rem;
  font-weight: bold;
  color: colors.$text-color;

  // .dark-mode & {
  //   color: colors.$dark-text-color;
  // }
}

input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: colors.$border-radius;
  font-size: 1rem;
  color: colors.$text-color;
  background-color: #fff;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: colors.$primary-color;
  }

  // .dark-mode & {
  //   background-color: colors.$dark-secondary-color;
  //   color: colors.$dark-text-color;
  //   border-color: colors.$dark-primary-color;

  //   &:focus {
  //     border-color: colors.$dark-primary-color;
  //   }
  // }
}

// Botón principal
.important-button {
  margin-bottom: 20px;
  background-color: colors.$primary-color;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: colors.$border-radius;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: darken(colors.$primary-color, 20%);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: lighten(colors.$primary-color, 10%);
  }

  // .dark-mode & {
  //   background-color: colors.$dark-primary-color;
  //   color: colors.$dark-background-color;

  //   &:hover:not(:disabled) {
  //     background-color: lighten(colors.$dark-primary-color, 10%);
  //   }

  //   &:disabled {
  //     background-color: darken(colors.$dark-primary-color, 20%);
  //   }
  // }
}

// Contenedor del resultado
#output-container {
  background-color: colors.$secondary-color;
  padding: 15px;
  border-radius: colors.$border-radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 2.5rem);

  p {
    font-size: 1.2rem;
    font-weight: bold;
    color: colors.$text-color;
    margin-bottom: 10px;

    // .dark-mode & {
    //   color: colors.$dark-text-color;
    // }
  }

  span {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    color: colors.$primary-color;

    // .dark-mode & {
    //   color: colors.$dark-primary-color;
    // }
  }

  // .dark-mode & {
  //   background-color: colors.$dark-background-color;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  // }
}

// Responsivo para pantallas más grandes
@media (min-width: 768px) {
  #title {
    font-size: 2rem;
  }

  #form-container {
    width: 80%;
    max-width: 1000px;

    gap: 25px;
  }

  #input-container {
    flex-direction: row;
  }

  .text-field input,
  .text-field select {
    font-size: 1.1rem;
  }

  .important-button {
    font-size: 1.1rem;
  }

  #output-container span {
    font-size: 2rem;
  }
}
