<h1 id="title">Converter</h1>
<div id="converter-container">
  <div id="amount-container">
    <div class="text-field">
      <label for="amount">Amount</label>
      <input type="text" (input)="validateInput($event)" placeholder="500">
    </div>
  </div>
  <div id="from-container">
    <div class="text-field">
      <label for="from">From</label>
      <select>
        <option value="USD">USD - US Dollar</option>
        <option value="ARS">ARS - Argentine Peso</option>
        <option value="EUR">EUR - Euro</option>
        <option value="GBP">GBP - British Pound</option>
        <option value="BRL">BRL - Brazilian Real</option>
      </select>
    </div>
  </div>
  <div id="to-container">
    <div class="text-field">
      <label for="to">To</label>
      <select>
        <option value="USD">USD - US Dollar</option>
        <option value="ARS">ARS - Argentine Peso</option>
        <option value="EUR">EUR - Euro</option>
        <option value="GBP">GBP - British Pound</option>
        <option value="BRL">BRL - Brazilian Real</option>
      </select>
    </div>
  </div>
  <button class="important-button">Convert</button>
</div>
