@use "./../../../../public/colors.scss";

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: colors.$primary;
  user-select: none;
  & * {
    color: colors.$font-on-dark;
    text-decoration: none;
  }
}
#brand-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

#brand-items {
  display: flex;
  align-items: center;
  gap: 5px;
  &>:last-child {
    color: darken($color: colors.$font-on-dark, $amount: 30%);
  }
}

#vertical-line {
  border-right: solid 2px darken($color: colors.$font-on-dark, $amount: 30%);
  height: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
}

a {
  padding: 15px;

  transition: 0.125s;
  &:hover {
    opacity: 0.7;
  }
}
.account-options {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

#login-button {
  padding: 10px;
}
#sign-up-button {
  padding: 10px;
}

@media (max-width: 767px) {
  header {
    height: 60px;
  }
  #brand-items {
    display: none;
  }
  nav {
    flex-direction: column;
    padding: 40px 0;
    background-color: #333;

    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;

    a {
      font-size: 1.3rem;
      //border: solid colors.$font-on-dark;
      flex: 1;
      text-align: center;
    }
  }
  
  
}

@media (min-width: 768px) and (max-width: 1023px) {
  #brand-items {
    display: none;
  }

  nav {
    gap: 10px;

    a {
      padding: 10px;
      border: solid 2px colors.$font-on-dark;
      border-radius: 5px;
    }
  }
  .toggle {
    display: none;
  }
  
}

@media (min-width: 1024px) {

  nav {
    gap: 10px;

    a {
      padding: 10px;
      border: solid 2px colors.$font-on-dark;
      border-radius: 5px;
    }
  }
  .toggle {
    display: none;
  }
}
