<header>
  <div id="brand-container">
    <div id="logo-container">LogoApp</div>
    <button id="nav-toggle" (click)="toggleMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>
  </div>

  <nav id="nav-menu" [class.active]="menuOpen">
    <a (click)="toggleMenu()" routerLink="/converter" class="nav-item">Converter</a>
    <a (click)="toggleMenu()" routerLink="/currencies" class="nav-item">Currencies</a>
    <a (click)="toggleMenu()" routerLink="/conversion-history" class="nav-item">Conversion History</a>
  </nav>

  <!-- <div class="account-options">
    <button routerLink="/login" id="login-button">Login</button>
    <button routerLink="/sign-up" class="important-button">Sign Up</button>
  </div> -->
</header>
