<header>
  <div id="brand-container">
    <div id="logo-container">LogoApp</div>
    <div id="brand-items">
      <div class="brand-item">Personal</div>
      <div class="brand-item">Mariano Converter</div>
    </div>
  </div>
  <nav>
    <a routerLink="/converter" class="nav-item">Converter</a>
    <a routerLink="/favorite-coins" class="nav-item">Favorite Coin</a>
    <a class="nav-item">Conversion History</a>
  </nav>
  <div class="account-options">
    <a routerLink="/login" id="login-button">Login</a>
    <a routerLink="/sign-up" id="sign-up-button">Sign Up</a>
  </div>
</header>

