@use "./../../../../public/colors.scss";


#not-found-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  border-radius: colors.$border-radius;
  box-shadow: colors.$box-shadow-light;
  background-color: colors.$secondary-color;

  // .dark-mode & {
  //   background-color: colors.$dark-background-color;
  //   box-shadow: colors.$box-shadow-dark;
  // }

  h1 {
    font-size: 6rem;
    color: colors.$primary-color;
    margin-bottom: 20px;

    // .dark-mode & {
    //   color: colors.$dark-primary-color;
    // }
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .important-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: colors.$primary-color;
    border: none;
    border-radius: colors.$border-radius;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(colors.$primary-color, 10%);
    }

    // .dark-mode & {
    //   background-color: colors.$dark-primary-color;

    //   &:hover {
    //     background-color: darken(colors.$dark-primary-color, 10%);
    //   }
    // }
  }
}

// Responsivo
@media (max-width: 768px) {
  #not-found-content {
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.2rem;
    }

    .important-button {
      font-size: 0.9rem;
    }
  }
}
