
<h2>Conversion History</h2>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Source</th>
      <th>Target</th>
      <th>Amount</th>
      <th>Output</th>
    </tr>
  </thead>
  <tbody>
    @for (conversion of conversionService.conversions; track $index) {
    <tr>
      <td>{{formatDate(conversion.conversionDate)}}</td>
      <td>{{formatHour(conversion.conversionDate)}}</td>
      <td>{{conversion.sourceCurrency.code}}</td>
      <td>{{conversion.targetCurrency.code}}</td>
      <td>{{conversion.convertedAmount.toFixed(2)}}</td>
      <td>{{conversion.targetCurrency.symbol + conversion.convertedOutput.toFixed(2)}}</td>
    </tr>
  }
  </tbody>
</table>