// @use "./../../../../public/tables.scss";
@use "./../../../../public/colors.scss";


#history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$secondary-color;
  width: 90%;
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: 100px;
}

h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: colors.$primary-color;
  margin-bottom: 5px;

  // .dark-mode & {
  //   color: colors.$dark-primary-color;
  // }
}

// Tabla de historial
table {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 90%;
  box-shadow: colors.$box-shadow-light;
  border-radius: colors.$border-radius;
  background-color: colors.$table-header-color;

  // .dark-mode & {
  //   background-color: colors.$table-header-dark-color;
  //   box-shadow: colors.$box-shadow-dark;
  // }

  thead {
    background-color: colors.$primary-color;
    color: colors.$table-header-color;

    // .dark-mode & {
    //   background-color: colors.$dark-primary-color;
    // }

    th {
      padding: 15px;
      text-align: left;
      font-weight: bold;
      font-size: 1rem;
      border-bottom: 2px solid colors.$secondary-color;

      // .dark-mode & {
      //   border-bottom: 2px solid colors.$dark-secondary-color;
      // }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: colors.$secondary-color;

        // .dark-mode & {
        //   background-color: colors.$dark-secondary-color;
        // }
      }

      &:hover {
        background-color: colors.$table-row-hover-color;
        cursor: pointer;

        // .dark-mode & {
        //   background-color: colors.$table-row-hover-dark-color;
        // }
      }

      td {
        padding: 15px;
        border-bottom: 1px solid colors.$secondary-color;
        font-size: 0.9rem;

        // .dark-mode & {
        //   border-bottom: 1px solid colors.$dark-secondary-color;
        // }
      }
    }
  }
}

// Responsivo
@media (max-width: 768px) {
  table {
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    border: none;



    thead {
      display: none;
    }

    tbody {

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 5px;

      tr {
        margin: 10px;
        min-width: 230px;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid colors.$secondary-color;
        padding: 10px;
        background-color: colors.$secondary-color;

        // .dark-mode & {
        //   border-bottom: 2px solid colors.$dark-secondary-color;
        //   background-color: colors.$dark-secondary-color;
        // }

        td {
          display: flex;


          justify-content: space-between;
          padding: 10px 5px;

          &:before {
            content: attr(data-label);
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
